# node
**/node_modules

# dotenv
**/.env
**/.env.*
!**/.env.example

# build
**/dist

# python
**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.venv
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache

# development notes
notes
